@import url('reset.css');

body {
    background-color: black
}

/* Estilos para elementos h2 */
h2 {
    font-size: 2rem;
    color: #33A8DB;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

/* Estilos para primeira div */
.banner{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(49, 168, 221, 0.3) 50%, rgba(0, 0, 0, 0.8) 100%),
     url("../images/banner.png");
    background-size: cover;
    background-blend-mode: overlay;
    height: 600px;
    padding-top: 60px;
    letter-spacing: 4px;
}

.banner-content{
  /* Define a cor da fonte como branca */
  color: white;
  /* Define a largura do elemento como 600px */
 width: 600px;
 /* Centraliza o conteúdo horizontalmente */
 margin: auto;
 /* Alinha o texto ao centro */
 text-align: center;
}

.banner h1 {
    font-weight: 900;
    padding: 40px;
    margin: 0;
    font-size: 40px;
    color: transparent;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap; /* Evita quebra de linha no texto */
    text-align: center; /* Centraliza horizontalmente */
}

p {
    color: white;
}

.banner p {
    font-size: 1.25rem;
    margin: 16px 0 24px;
  }
 .banner .logo{
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    /* Bordas da Logo */
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
  }

  .banner .banner-content button {
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    border-radius: 30px;
  }

  #course-content {
    height: 500px;
    text-align: center;
    margin: 200px 0;
  }

  #course-content .modules-list {
    margin: 24px 0;
    
  }

  #course-content .modules-list .module {
    color: white;
    width: 530px;
    /* Margem Automática */
    margin: 0 auto 24px;
    /* Borda da Sólida */
    border: 1px solid;
    /* arredondar os cantos de um elemento */
    border-radius: 57px;
    background-color: #252525;
    padding: 16px;
    /* Margem Automática */
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
  }

  /* Cor dos componentes dentro da Caixa */
  #course-content .modules-list .module span {
    color: #33A8DB;
  }

  #transform-world{
    /* Define a altura do elemento como 560px */
    height: 560px;
    /* Define o tamanho da imagem de fundo para cobrir todo o elemento */
    background-size: cover;
    /* Define a imagem de fundo */
   background-image: url('../images/woman-code.png');
    /* Define o estilo de anexo da imagem de fundo como fixo */
    background-attachment: fixed;
    /* Define uma borda superior sólida azul claro com 1px de espessura e opacidade de 80% */
    border-top: 1px solid #33A8DB80;
    /* Define uma borda inferior sólida azul claro com 1px de espessura e opacidade de 80% */
    border-bottom: 1px solid #33A8DB80;
    /* Define o padding como 200px */
    padding: 200px;
  }

  #transform-world p {
    /* Tamanho da profundidade da fonte */
    font-weight: 900;
    /* Tamanho da fonte */
    font-size: 2.5rem;
     /* Transforma o texto em caixa pequena */
    text-transform: lowercase;
    /* Define a largura máxima do texto como 250px */
    max-width: 250px; 
    /* Define uma sombra de texto */
    text-shadow: 3px 2px #33A8DB;
  }

  #professional-challenges {
    height: 500px;
    text-align: center;
    margin: 200px 0;
  }

  /* Centralizar o Centro da IMG */
  #professional-challenges img {
    margin: 32px 0;
  }

  /* Estilos para o elemento footer */
  footer {
  padding: 60px 0;
  text-align: center;
  background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
  /* Define uma borda superior sólida azul claro com 1px de espessura e opacidade de 80% */
  border-top: 1px solid #33A8DB80;
  }

/* Estilos para a classe dio-logo dentro do elemento footer */
  footer .dio-logo {
  width: 300px;
  }

/* Estilos para links dentro do elemento footer */
  footer a {
  color: #33A8DB;
  font-weight: bold;
  text-decoration: none;
  }
